<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="text-align: center; font-size: 30px;">Home page </h2>
    <br> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum necessitatibus cumque facere commodi odit quo veniam aperiam magni. Distinctio reprehenderit qui aspernatur ipsum itaque nulla blanditiis? Alias sed ullam voluptatum.</p>
</body>
</html>